body{
    font-family: Arial;
    background:#f7f3ed;
    text-align:center;
}

.container{
    max-width:500px;
    margin:auto;
    margin-top:100px;
}

input{
    width:100%;
    padding:12px;
    margin:10px 0;
}

button{
    padding:12px 30px;
    cursor:pointer;
}